pipeline/IncrementalLoad.json
{
	"name": "IncrementalLoad",
	"properties": {
		"activities": [
			{
				"name": "Getmaxitime",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT ISNULL(MAX(Inserttime), '1900-01-01') AS LastTime\nFROM orders_final;\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "sourcetable",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "SetLastTime",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Getmaxitime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "vLastTime",
					"value": {
						"value": "@activity('Getmaxitime').output.firstRow.LastTime",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"vLastTime": {
				"type": "String"
			}
		},
		"annotations": []
	}
}