pipeline/IncrementalLoad.json
{
	"name": "IncrementalLoad",
	"properties": {
		"activities": [
			{
				"name": "Getmaxitime",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select max(inserttime) as date1 from orders_final",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "sourcetable",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Getmaxitime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(length(string(activity('Getmaxitime').output.firstRow.date1)), 0)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copydata",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "select Order_Id, Name, Inserttime from orders\nWHERE inserttime >'@{activity('Getmaxitime').output.firstRow.date1}'",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "Order_Id",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"name": "Order_Id",
												"type": "Int32",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"name": "Name",
												"type": "varchar"
											},
											"sink": {
												"name": "Name",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Inserttime",
												"type": "datetime",
												"scale": 3,
												"precision": 23
											},
											"sink": {
												"name": "Inserttime",
												"type": "DateTime",
												"physicalType": "datetime"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "Source_copy",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "sourcetable",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "LogMissingOrder",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copydata",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[LogMissingOrder]",
								"storedProcedureParameters": {
									"@Order_Id": {
										"value": "@{item().Order_Id}"
									},
									"@Name": {
										"value": "@{item().Name}"
									},
									"undefined": {
										"value": ""
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase1",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}