pipeline/IncrementalLoad.json
{
	"name": "IncrementalLoad",
	"properties": {
		"activities": [
			{
				"name": "Getmaxitime",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "LastInserttime",
						"value": "@activity('GetMaxTime').output.firstRow.date1"
					}
				],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT MAX(Inserttime) AS date1\nFROM orders_final",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "sourcetable",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copydata",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Getmaxitime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT Order_Id, Name, Inserttime\nFROM Orders\nWHERE Inserttime > '@{activity('Getmaxitime').output.firstRow.Inserttime}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "sourcetable",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Source_copy",
						"type": "DatasetReference"
					}
				]
			}
		],
		"annotations": []
	}
}